In [1]:
#!pip install -r requirements.txt
#!pip install pyfim==6.28

In [2]:
import numpy as np
import pandas as pd
import seaborn as sns
from matplotlib import pyplot as plt
from scipy import sparse

from itertools import permutations,combinations
from collections import Counter

from fim import arules, fpgrowth

In [3]:
path = "..../"
articles = pd.read_csv(path + "articles.csv")
customers = pd.read_csv(path + "customers.csv")
transactions = pd.read_csv(path + "transactions_train.csv")

In [20]:
# set an article name that contains colour scheme and graphical appearance
articles["article_name"] = articles["colour_group_name"] + " " + articles["graphical_appearance_name"] + " " + articles["prod_name"]

In [5]:
# merge relevant article data into transactions
transactions_merged = pd.merge(transactions[["customer_id", "article_id", "t_dat"]],
                      articles[["article_id","article_name", "product_type_name", "product_group_name"]], on="article_id")

Analysis by article granularity

In [6]:
# remove multiple identical items bought in the same transaction
transactions_merged2=transactions_merged.drop_duplicates(["t_dat", "customer_id", "article_name"])

In [82]:
transactions_merged2.head()

,customer_id,article_id,t_dat,article_name,product_type_name,product_group_name
0,000058a12d5b43e67d225668fa1f8d618c13dc232df0ca...,663713001,2018-09-20,Black Solid Atlanta Push Body Harlow,Underwear body,Underwear
1,3681748607f3287d2c3a65e00bb5fb153de30e9becf158...,663713001,2018-09-20,Black Solid Atlanta Push Body Harlow,Underwear body,Underwear
2,4ef5967ff17bf474bffebe5b16bd54878e1d4105f7b4ed...,663713001,2018-09-20,Black Solid Atlanta Push Body Harlow,Underwear body,Underwear
3,6b7b10d2d47516c82a6f97332478dab748070f09693f09...,663713001,2018-09-20,Black Solid Atlanta Push Body Harlow,Underwear body,Underwear
4,8ac137752bbe914aa4ae6ad007a9a0c5b67a1ab2b2d474...,663713001,2018-09-20,Black Solid Atlanta Push Body Harlow,Underwear body,Underwear

In [8]:
# group articles bought by the same person on the same day to obtain orders
article_name_df=transactions_merged2.groupby(["t_dat", "customer_id"],as_index=False)["article_name"].agg(','.join)
article_name_df["article_name"]= article_name_df["article_name"].str.split(",", n = 100, expand = False)

In [11]:
# convert orders into array for apriori algorithm
apriori_array = article_name_df["article_name"].to_numpy()

In [12]:
#Apriori report 
report_colnames = {
    'a': 'support_itemset_absolute',
    's': 'support_itemset_relative',
    'S': 'support_itemset_relative_pct',
    'b': 'support_bodyset_absolute',
    'x': 'support_bodyset_relative',
    'X': 'support_bodyset_relative_pct',
    'h': 'support_headitem_absolute',
    'y': 'support_headitem_relative',
    'Y': 'support_headitem_relative_pct',
    'c': 'confidence',
    'C': 'confidence_pct',
    'l': 'lift',
    'L': 'lift_pct',
    'e': 'evaluation',
    'E': 'evaluation_pct',
    'Q': 'xx',
    'S': 'support_emptyset',
    }

In [13]:
# parameters for apriori or fpgrowth algorithms
supp = 0.001 
conf = 5 
zmin = 2 # minimum length
zmax = 2 # maximum length 
report = "asCl"
algo = "ap" # "fp" or "ap"

In [14]:
# uncomment either to check documentation for apriori or fpgrowth algorithms

#?arules
#?fpgrowth

In [15]:
# start apriori (or fpgrowth) store results in a result dataframe
if algo == "ap":
    result = arules(apriori_array, zmin=zmin, zmax=zmax, supp=supp, conf=conf, report=report)
elif algo == "fp":
    result = fpgrowth(apriori_array, zmin=zmin, zmax=zmax, supp=supp, report=report)

if algo == "ap":
    colnames = ["consequent", "antecedent"] + [report_colnames.get(k, k) for k in list(report)]
elif algo == "fp":
    colnames = ["itemset"] + [report_colnames.get(k, k) for k in list(report)]
df_result = pd.DataFrame(result, columns=colnames)
df_result = df_result.sort_values("support_itemset_absolute", ascending=False)
print(df_result.shape)

(88954, 6)

In [24]:
with pd.option_context('display.max_colwidth', 400):
    display(df_result.head(10))

,consequent,antecedent,support_itemset_absolute,support_itemset_relative,confidence_pct,lift
0,Black Solid Jade HW Skinny Denim TRS,"(Dark Blue Solid Jade HW Skinny Denim TRS,)",7125,0.000785,18.541168,38.860014
1,Dark Blue Solid Jade HW Skinny Denim TRS,"(Black Solid Jade HW Skinny Denim TRS,)",7125,0.000785,16.445850,38.860014
67,Dark Green Other structure Simple as That Triangle Top,"(Dark Green Other structure Simple as that Cheeky Tanga,)",6982,0.000769,64.433370,601.178109
66,Dark Green Other structure Simple as that Cheeky Tanga,"(Dark Green Other structure Simple as That Triangle Top,)",6982,0.000769,71.742704,601.178109
7,Light Blue Solid Jade HW Skinny Denim TRS,"(Dark Blue Solid Jade HW Skinny Denim TRS,)",5954,0.000656,15.493911,43.203379
6,Dark Blue Solid Jade HW Skinny Denim TRS,"(Light Blue Solid Jade HW Skinny Denim TRS,)",5954,0.000656,18.283995,43.203379
55,Red Other structure Simple as That Triangle Top,"(Red Other structure Simple as that Cheeky Tanga,)",5914,0.000651,60.445626,435.220918
56,Red Other structure Simple as that Cheeky Tanga,"(Red Other structure Simple as That Triangle Top,)",5914,0.000651,46.895567,435.220918
2,Black Solid Luna skinny RW,"(Blue Denim Luna skinny RW,)",5786,0.000637,16.796818,40.859999
3,Blue Denim Luna skinny RW,"(Black Solid Luna skinny RW,)",5786,0.000637,15.500844,40.859999

In [25]:
with pd.option_context('display.max_colwidth', 400):
    display(df_result.tail(10))

,consequent,antecedent,support_itemset_absolute,support_itemset_relative,confidence_pct,lift
69325,Black Melange SPAM fancy shorts BB,"(Light Green Placement print Apollo casual s/s tee,)",5,5.506499e-07,5.376344,1097.037453
84902,Turquoise Solid Carp cut-out,"(Light Purple Stripe Sharkfin bottom,)",5,5.506499e-07,5.494505,6834.396357
69327,Light Grey Front print Apollo casual s/s tee,"(Light Green Placement print Apollo casual s/s tee,)",5,5.506499e-07,5.376344,3149.559140
69329,White Front print Beach price tanktop,"(Light Green Placement print Apollo casual s/s tee,)",5,5.506499e-07,5.376344,3755.243590
69360,White All over pattern HAPPY TEE,"(White All over pattern BOAZ PRICE L/S,)",5,5.506499e-07,5.000000,2536.362849
69361,Grey Front print ANDY L/S,"(White All over pattern BOAZ PRICE L/S,)",5,5.506499e-07,5.000000,3266.251439
69364,Greenish Khaki Front print ANDY FANCY L/S,"(White All over pattern BOAZ PRICE L/S,)",5,5.506499e-07,5.000000,3067.628041
84938,Light Blue Denim SKINNY BASIC 89,"(Light Pink Check Lexi Shirt,)",5,5.506499e-07,5.050505,426.599906
84939,Greenish Khaki All over pattern Cleopatra tunic,"(Light Pink Check Lexi Shirt,)",5,5.506499e-07,5.050505,3886.397449
64880,Dark Green Solid Papi Chulo Top,"(White Solid Tom Denim Shorts,)",5,5.506499e-07,5.050505,227.027178

In [26]:
# parameters for apriori or fpgrowth algorithms
supp = 0.001 
conf = 5 
zmin = 3 # minimum length
zmax = 3 # maximum length 
report = "asCl"
algo = "ap" # 'fp' or 'ap'

if algo == "ap":
    result = arules(apriori_array, zmin=zmin, zmax=zmax, supp=supp, conf=conf, report=report)
elif algo == "fp":
    result = fpgrowth(apriori_array, zmin=zmin, zmax=zmax, supp=supp, report=report)

if algo == "ap":
    colnames = ["consequent", "antecedent"] + [report_colnames.get(k, k) for k in list(report)]
elif algo == "fp":
    colnames = ["itemset"] + [report_colnames.get(k, k) for k in list(report)]
df_result = pd.DataFrame(result, columns=colnames)
df_result = df_result.sort_values("support_itemset_absolute", ascending=False)
print(df_result.shape)

(97578, 6)

In [27]:
with pd.option_context('display.max_colwidth', 400):
    display(df_result.head(10))

,consequent,antecedent,support_itemset_absolute,support_itemset_relative,confidence_pct,lift
10,Black Solid Jade HW Skinny Denim TRS,"(Light Blue Solid Jade HW Skinny Denim TRS, Dark Blue Solid Jade HW Skinny Denim TRS)",1369,0.000151,22.992946,48.190394
12,Light Blue Solid Jade HW Skinny Denim TRS,"(Dark Blue Solid Jade HW Skinny Denim TRS, Black Solid Jade HW Skinny Denim TRS)",1369,0.000151,19.214035,53.576612
11,Dark Blue Solid Jade HW Skinny Denim TRS,"(Light Blue Solid Jade HW Skinny Denim TRS, Black Solid Jade HW Skinny Denim TRS)",1369,0.000151,24.161666,57.091770
309,Dark Blue Solid Jade HW Skinny Denim TRS,"(Dark Grey Solid Jade HW Skinny Denim TRS, Black Solid Jade HW Skinny Denim TRS)",818,0.000090,29.659173,70.081868
310,Dark Grey Solid Jade HW Skinny Denim TRS,"(Dark Blue Solid Jade HW Skinny Denim TRS, Black Solid Jade HW Skinny Denim TRS)",818,0.000090,11.480702,71.859673
308,Black Solid Jade HW Skinny Denim TRS,"(Dark Grey Solid Jade HW Skinny Denim TRS, Dark Blue Solid Jade HW Skinny Denim TRS)",818,0.000090,25.902470,54.288400
5504,Dark Green Solid The Low Line Highwaist,"(Beige All over pattern The Low Line Highwaist, Dark Green Solid Timeless Sports Top)",705,0.000078,90.384615,1367.163896
5503,Beige All over pattern The Low Line Highwaist,"(Dark Green Solid The Low Line Highwaist, Dark Green Solid Timeless Sports Top)",705,0.000078,15.286210,201.570610
5502,Dark Green Solid Timeless Sports Top,"(Dark Green Solid The Low Line Highwaist, Beige All over pattern The Low Line Highwaist)",705,0.000078,81.221198,1079.641367
5456,Dark Green Solid The Low Line Highwaist,"(Dark Green Solid Timeless Sports Top, Beige All over pattern Timeless Sports Top)",694,0.000076,71.768356,1085.573075

In [29]:
with pd.option_context('display.max_colwidth', 400):
    display(df_result.tail(10))

,consequent,antecedent,support_itemset_absolute,support_itemset_relative,confidence_pct,lift
35613,Black Solid Chubba Chubb Highwaist brazili,"(White Solid Knot Bitter Top, Black All over pattern Knot Bitter Top)",5,5.506499e-07,5.050505,113.401310
66147,Yellowish Brown Solid 20 den 2p Tights,"(Black Solid Control Top 50 den 1p Tights, Black Solid 20 den 2p Tights)",5,5.506499e-07,5.208333,260.278475
87794,Dark Blue Melange Calista (1),"(Light Pink Melange Calista., Black Solid Calista cardigan.)",5,5.506499e-07,5.434783,189.075858
66144,Black Solid Lyra HW wide full(1),"(Black Solid Jennifer trouser, Black Solid Drizzle)",5,5.506499e-07,5.208333,380.777769
87800,Light Pink Solid Barry cardigan (1),"(Light Pink Melange Calista., Black Solid Calista cardigan.)",5,5.506499e-07,5.434783,386.746073
66123,Light Beige Melange Son V-neck,"(Light Beige Neps Flock, Dark Blue Melange Flock)",5,5.506499e-07,5.000000,92.711650
66121,Black Solid Harrison short sleeve top CN,"(Light Beige Neps Flock, Dark Blue Melange Flock)",5,5.506499e-07,5.000000,39.081428
66116,Light Beige Neps Flock,"(Black Solid Son V-neck, Dark Blue Solid Flock (1))",5,5.506499e-07,5.434783,367.451965
66115,Black Solid Son V-neck,"(Light Beige Neps Flock, Dark Blue Solid Flock (1))",5,5.506499e-07,5.263158,86.954905
97577,Dark Turquoise All over pattern 1 pk Sneaker,"(Dark Green All over pattern 1pk Smart, Blue All over pattern 1pk Fun)",5,5.506499e-07,5.434783,16449.599638

Analysis by product type granularity

In [36]:
prod_type_df=transactions_merged2.groupby(["t_dat", "customer_id"],as_index=False)["product_type_name"].agg(','.join)
prod_type_df["product_type_name"]= prod_type_df["product_type_name"].str.split(",", n = 100, expand = False)

In [43]:
len(prod_type_df)

9080179

In [37]:
apriori_array = prod_type_df["product_type_name"].to_numpy()

In [38]:
# parameters for apriori or fpgrowth algorithms
supp = 0.001 
conf = 5 
zmin = 2 # minimum length
zmax = 2 # maximum length 
report = "asCl"
algo = "ap" # 'fp' or 'ap'


# run apriori
if algo == "ap":
    result = arules(apriori_array, zmin=zmin, zmax=zmax, supp=supp, conf=conf, report=report)
elif algo == "fp":
    result = fpgrowth(apriori_array, zmin=zmin, zmax=zmax, supp=supp, report=report)

if algo == "ap":
    colnames = ["consequent", "antecedent"] + [report_colnames.get(k, k) for k in list(report)]
elif algo == "fp":
    colnames = ["itemset"] + [report_colnames.get(k, k) for k in list(report)]
df_result = pd.DataFrame(result, columns=colnames)
df_result = df_result.sort_values("support_itemset_absolute", ascending=False)
print(df_result.shape)

(1840, 6)

In [42]:
with pd.option_context('display.max_colwidth', 400):
    display(df_result.head(20))

,consequent,antecedent,support_itemset_absolute,support_itemset_relative,confidence_pct,lift
2,Trousers,"(Sweater,)",498339,0.054882,29.472831,1.163248
3,Sweater,"(Trousers,)",498339,0.054882,21.661130,1.163248
146,Swimwear bottom,"(Bikini top,)",463018,0.050992,78.190971,12.109265
147,Bikini top,"(Swimwear bottom,)",463018,0.050992,78.970456,12.109265
1,Dress,"(Trousers,)",385073,0.042408,16.737836,0.867179
0,Trousers,"(Dress,)",385073,0.042408,21.971428,0.867179
6,Trousers,"(T-shirt,)",366951,0.040412,29.211960,1.152952
7,T-shirt,"(Trousers,)",366951,0.040412,15.950133,1.152952
12,Trousers,"(Top,)",339933,0.037437,30.821743,1.216488
13,Top,"(Trousers,)",339933,0.037437,14.775751,1.216488
21,Blouse,"(Trousers,)",312628,0.034430,13.588894,1.251333
20,Trousers,"(Blouse,)",312628,0.034430,31.704604,1.251333
16,Sweater,"(Top,)",272174,0.029975,24.678031,1.325262
17,Top,"(Sweater,)",272174,0.029975,16.096951,1.325262
103,Underwear bottom,"(Bra,)",262678,0.028929,32.586037,4.686585
102,Bra,"(Underwear bottom,)",262678,0.028929,41.605831,4.686585
18,T-shirt,"(Top,)",260327,0.028670,23.603863,1.706201
19,Top,"(T-shirt,)",260327,0.028670,20.723916,1.706201
11,T-shirt,"(Sweater,)",255592,0.028148,15.116256,1.092676
10,Sweater,"(T-shirt,)",255592,0.028148,20.346976,1.092676

In [41]:
with pd.option_context('display.max_colwidth', 400):
    display(df_result.tail(20))

,consequent,antecedent,support_itemset_absolute,support_itemset_relative,confidence_pct,lift
1831,Shorts,"(Keychain,)",8,8.810399e-07,6.666667,0.967580
1778,Blazer,"(Sewing kit,)",8,8.810399e-07,7.619048,1.984547
1835,Hoodie,"(Keychain,)",8,8.810399e-07,6.666667,1.646651
1800,Sandals,"(Marker pen,)",8,8.810399e-07,6.299213,6.070297
1809,Underwear bottom,"(Dog wear,)",8,8.810399e-07,5.063291,0.728212
1815,Dress,"(Headband,)",8,8.810399e-07,5.228758,0.270899
1753,Blouse,"(Baby Bib,)",8,8.810399e-07,5.333333,0.491120
1759,Hoodie,"(Baby Bib,)",8,8.810399e-07,5.333333,1.317321
1830,Vest top,"(Keychain,)",7,7.709099e-07,5.833333,0.637069
1837,Belt,"(Keychain,)",7,7.709099e-07,5.833333,3.166051
1799,Leggings/Tights,"(Marker pen,)",7,7.709099e-07,5.511811,0.978793
1776,Leggings/Tights,"(Sewing kit,)",7,7.709099e-07,6.666667,1.183873
1791,Blouse,"(Marker pen,)",7,7.709099e-07,5.511811,0.507555
1781,Belt,"(Sewing kit,)",7,7.709099e-07,6.666667,3.618344
1785,Hair/alice band,"(Sewing kit,)",6,6.607799e-07,5.714286,6.987925
1832,Underwear bottom,"(Keychain,)",6,6.607799e-07,5.000000,0.719109
1834,Jacket,"(Keychain,)",6,6.607799e-07,5.000000,0.964421
1782,Earring,"(Sewing kit,)",6,6.607799e-07,5.714286,3.568012
1783,Scarf,"(Sewing kit,)",6,6.607799e-07,5.714286,3.902520
1784,Sunglasses,"(Sewing kit,)",6,6.607799e-07,5.714286,5.640721

In [47]:
# parameters for apriori or fpgrowth algorithms
supp = 0.001 
conf = 5 
zmin = 3 # minimum length
zmax = 3 # maximum length 
report = "asCl"
algo = "ap" # 'fp' or 'ap'


# run apriori
if algo == "ap":
    result = arules(apriori_array, zmin=zmin, zmax=zmax, supp=supp, conf=conf, report=report)
elif algo == "fp":
    result = fpgrowth(apriori_array, zmin=zmin, zmax=zmax, supp=supp, report=report)

if algo == "ap":
    colnames = ["consequent", "antecedent"] + [report_colnames.get(k, k) for k in list(report)]
elif algo == "fp":
    colnames = ["itemset"] + [report_colnames.get(k, k) for k in list(report)]
df_result = pd.DataFrame(result, columns=colnames)
df_result = df_result.sort_values("support_itemset_absolute", ascending=False)
print(df_result.shape)

(66018, 6)

In [48]:
with pd.option_context('display.max_colwidth', 400):
    display(df_result.head(20))

,consequent,antecedent,support_itemset_absolute,support_itemset_relative,confidence_pct,lift
17,Top,"(Sweater, Trousers)",110141,0.012130,22.101622,1.819627
16,Sweater,"(Top, Trousers)",110141,0.012130,32.400797,1.739991
15,Trousers,"(Top, Sweater)",110141,0.012130,40.467128,1.597177
6,Trousers,"(T-shirt, Sweater)",103697,0.011420,40.571301,1.601289
7,Sweater,"(T-shirt, Trousers)",103697,0.011420,28.259086,1.517573
8,T-shirt,"(Sweater, Trousers)",103697,0.011420,20.808526,1.504140
23,Top,"(T-shirt, Trousers)",99154,0.010920,27.021046,2.224644
22,T-shirt,"(Top, Trousers)",99154,0.010920,29.168689,2.108453
21,Trousers,"(Top, T-shirt)",99154,0.010920,38.088251,1.503286
13,Dress,"(Top, Trousers)",96422,0.010619,28.365001,1.469577
12,Trousers,"(Top, Dress)",96422,0.010619,38.364089,1.514173
14,Top,"(Dress, Trousers)",96422,0.010619,25.039927,2.061538
0,Trousers,"(Sweater, Dress)",96220,0.010597,40.216001,1.587265
1,Dress,"(Sweater, Trousers)",96220,0.010597,19.308142,1.000346
2,Sweater,"(Dress, Trousers)",96220,0.010597,24.987470,1.341880
30,Trousers,"(Blouse, Dress)",95294,0.010495,38.173792,1.506662
32,Blouse,"(Dress, Trousers)",95294,0.010495,24.746996,2.278827
31,Dress,"(Blouse, Trousers)",95294,0.010495,30.481595,1.579237
5,T-shirt,"(Dress, Trousers)",89407,0.009846,23.218195,1.678323
4,Dress,"(T-shirt, Trousers)",89407,0.009846,24.364833,1.262330

In [49]:
with pd.option_context('display.max_colwidth', 400):
    display(df_result.tail(20))

,consequent,antecedent,support_itemset_absolute,support_itemset_relative,confidence_pct,lift
62605,Cardigan,"(Backpack, Leggings/Tights)",5,5.506499e-07,5.319149,1.691017
51620,Pyjama bottom,"(Underdress, Other accessories)",5,5.506499e-07,5.000000,6.017747
38566,Earring,"(Other shoe, Robe)",5,5.506499e-07,5.494505,3.430780
38564,Belt,"(Other shoe, Robe)",5,5.506499e-07,5.494505,2.982151
41785,Ballerinas,"(Slippers, Hair clip)",5,5.506499e-07,5.208333,12.499696
25114,Sandals,"(Hair ties, Ballerinas)",5,5.506499e-07,5.319149,5.125849
41784,Pyjama bottom,"(Slippers, Hair clip)",5,5.506499e-07,5.208333,6.268487
50770,Pyjama set,"(Costumes, Pyjama bottom)",5,5.506499e-07,5.376344,3.308069
43316,Necklace,"(Flip flop, Hair ties)",5,5.506499e-07,5.154639,4.220701
52218,Sunglasses,"(Kids Underwear top, Swimsuit)",5,5.506499e-07,5.154639,5.088279
60628,Sneakers,"(Bootie, Shirt)",5,5.506499e-07,5.376344,5.066490
65754,Underwear bottom,"(Cross-body bag, Sweater)",5,5.506499e-07,5.434783,0.781641
50767,Socks,"(Costumes, Pyjama bottom)",5,5.506499e-07,5.376344,1.481952
50715,Jumpsuit/Playsuit,"(Costumes, Sunglasses)",5,5.506499e-07,5.102041,2.760363
65749,Shorts,"(Cross-body bag, Sweater)",5,5.506499e-07,5.434783,0.788788
62261,Blazer,"(Dog Wear, Underwear bottom)",5,5.506499e-07,5.102041,1.328938
43315,Belt,"(Flip flop, Hair ties)",5,5.506499e-07,5.154639,2.797688
57284,Hat/beanie,"(Tie, Cardigan)",5,5.506499e-07,5.263158,6.629547
51536,Boots,"(Underdress, Sunglasses)",5,5.506499e-07,5.102041,3.123985
61271,Necklace,"(Tote bag, Cardigan)",5,5.506499e-07,5.154639,4.220701

## Analysis on age segment 19-26

In [44]:
article_name_age = pd.merge(article_name_df, customers[["customer_id", "age"]], on="customer_id")
prod_type_age = pd.merge(prod_type_df, customers[["customer_id", "age"]], on="customer_id")

In [45]:
article_name_young = article_name_age[ (article_name_age["age"] > 18) &
                     (article_name_age["age"] < 27) ]
prod_type_young = prod_type_age[ (prod_type_age["age"] > 18) &
                     (prod_type_age["age"] < 27) ]

In [46]:
array_young = article_name_young["article_name"].to_numpy()
array_type_young = prod_type_young["product_type_name"].to_numpy()

In [81]:
# parameters for apriori or fpgrowth algorithms
supp = 0.001 
conf = 5 
zmin = 2 # minimum length
zmax = 2 # maximum length 
report = "asCl"
algo = 'ap' # 'fp' or 'ap'
# run apriori
if algo == "ap":
    result = arules(array_young, zmin=zmin, zmax=zmax, supp=supp, conf=conf, report=report)
elif algo == "fp":
    result = fpgrowth(array_young, zmin=zmin, zmax=zmax, supp=supp, report=report)

if algo == "ap":
    colnames = ["consequent", "antecedent"] + [report_colnames.get(k, k) for k in list(report)]
elif algo == "fp":
    colnames = ["itemset"] + [report_colnames.get(k, k) for k in list(report)]
df_result = pd.DataFrame(result, columns=colnames)
df_result = df_result.sort_values("support_itemset_absolute", ascending=False)
print(df_result.shape)

(108996, 6)

In [51]:
with pd.option_context('display.max_colwidth', 400):
    display(df_result.head(20))

,consequent,antecedent,support_itemset_absolute,support_itemset_relative,confidence_pct,lift
0,Black Solid Jade HW Skinny Denim TRS,"(Dark Blue Solid Jade HW Skinny Denim TRS,)",3081,0.001072,19.518530,28.450174
1,Dark Blue Solid Jade HW Skinny Denim TRS,"(Black Solid Jade HW Skinny Denim TRS,)",3081,0.001072,15.628487,28.450174
6,Black Solid Tilda tank,"(White Solid Tilda tank,)",3066,0.001067,35.428703,77.600959
7,White Solid Tilda tank,"(Black Solid Tilda tank,)",3066,0.001067,23.370684,77.600959
41,Dark Green Other structure Simple as That Triangle Top,"(Dark Green Other structure Simple as that Cheeky Tanga,)",2980,0.001037,66.340160,448.644499
40,Dark Green Other structure Simple as that Cheeky Tanga,"(Dark Green Other structure Simple as That Triangle Top,)",2980,0.001037,70.134149,448.644499
49,Red Other structure Simple as That Triangle Top,"(Red Other structure Simple as that Cheeky Tanga,)",2794,0.000972,66.161497,327.390487
50,Red Other structure Simple as that Cheeky Tanga,"(Red Other structure Simple as That Triangle Top,)",2794,0.000972,48.114345,327.390487
3,Light Blue Solid Jade HW Skinny Denim TRS,"(Black Solid Jade HW Skinny Denim TRS,)",2617,0.000911,13.274830,26.449413
2,Black Solid Jade HW Skinny Denim TRS,"(Light Blue Solid Jade HW Skinny Denim TRS,)",2617,0.000911,18.145888,26.449413
5,Light Blue Solid Jade HW Skinny Denim TRS,"(Dark Blue Solid Jade HW Skinny Denim TRS,)",2484,0.000864,15.736459,31.354081
4,Dark Blue Solid Jade HW Skinny Denim TRS,"(Light Blue Solid Jade HW Skinny Denim TRS,)",2484,0.000864,17.223686,31.354081
119,Dark Green Solid Timeless Sports Top,"(Dark Green Solid The Low Line Highwaist,)",2170,0.000755,78.226388,715.190040
120,Dark Green Solid The Low Line Highwaist,"(Dark Green Solid Timeless Sports Top,)",2170,0.000755,69.042316,715.190040
142,Beige All over pattern The Low Line Highwaist,"(Beige All over pattern Timeless Sports Top,)",2012,0.000700,59.228731,571.697320
141,Beige All over pattern Timeless Sports Top,"(Beige All over pattern The Low Line Highwaist,)",2012,0.000700,67.584817,571.697320
19,Black Other structure Simple as that Cheeky Tanga,"(Black Other structure Simple as That Triangle Top,)",1702,0.000592,32.882535,159.151524
20,Black Other structure Simple as That Triangle Top,"(Black Other structure Simple as that Cheeky Tanga,)",1702,0.000592,28.667677,159.151524
530,Greenish Khaki All over pattern LS Reggipetto Tie Tanga,"(Greenish Khaki All over pattern LS Reggipetto Triangle Top,)",1666,0.000580,74.608150,1054.536113
529,Greenish Khaki All over pattern LS Reggipetto Triangle Top,"(Greenish Khaki All over pattern LS Reggipetto Tie Tanga,)",1666,0.000580,81.947860,1054.536113

In [52]:
with pd.option_context('display.max_colwidth', 400):
    display(df_result.tail(20))

,consequent,antecedent,support_itemset_absolute,support_itemset_relative,confidence_pct,lift
83239,Black Other structure FF Begonia shirt,"(Gold Solid Cool Dylan hoop pk,)",2,6.960131e-07,5.000000,316.465749
83240,Gold Solid Flirty Tara necklace,"(Gold Solid Cool Dylan hoop pk,)",2,6.960131e-07,5.000000,440.722239
83226,Dark Green Melange CONAN STRUCTURE SWEATER,"(Dark Blue Other structure PORTOBELLO SS MUSCLE POLO,)",2,6.960131e-07,6.666667,2016.497544
83225,Beige Melange MUSHROOM SLIM FIT POLO,"(Dark Blue Other structure PORTOBELLO SS MUSCLE POLO,)",2,6.960131e-07,6.666667,1651.441954
59838,Beige Solid Bird tee,"(Dark Grey Solid Linnea linen t-shirt,)",2,6.960131e-07,5.405405,283.957607
59839,White Solid ESSENTIAL LOVA LINEN,"(Dark Grey Solid Linnea linen t-shirt,)",2,6.960131e-07,5.405405,400.321677
83222,Dark Blue Check Jamie Skinny Cropped Trs Pid,"(Dark Blue Other structure PORTOBELLO SS MUSCLE POLO,)",2,6.960131e-07,6.666667,843.908664
83221,Light Blue Melange MUSHROOM SLIM FIT POLO,"(Dark Blue Other structure PORTOBELLO SS MUSCLE POLO,)",2,6.960131e-07,6.666667,982.396239
83220,Black Neps PETER POLO,"(Dark Blue Other structure PORTOBELLO SS MUSCLE POLO,)",2,6.960131e-07,6.666667,899.376839
83219,Black All over pattern BORIS SS,"(Dark Blue Other structure PORTOBELLO SS MUSCLE POLO,)",2,6.960131e-07,6.666667,676.916137
83217,Greenish Khaki Melange Taz Tee,"(Dark Blue Other structure PORTOBELLO SS MUSCLE POLO,)",2,6.960131e-07,6.666667,368.398590
83216,Dark Blue All over pattern FORTUNA TEE,"(Dark Blue Other structure PORTOBELLO SS MUSCLE POLO,)",2,6.960131e-07,6.666667,386.224328
83215,Black Solid ZOLA MID SKIRT,"(Dark Blue Other structure PORTOBELLO SS MUSCLE POLO,)",2,6.960131e-07,6.666667,169.678713
83214,Black Solid Smirk Dress,"(Black Solid Fredrika Dress,)",2,6.960131e-07,6.896552,2642.307126
83213,Black Lace Swing lace dress,"(Black Solid Fredrika Dress,)",2,6.960131e-07,6.896552,2331.447465
83212,Black Solid Gin and Juice,"(Black Solid Fredrika Dress,)",2,6.960131e-07,6.896552,1738.359952
83211,Black All over pattern AVRIL DRESS,"(Black Solid Fredrika Dress,)",2,6.960131e-07,6.896552,187.841739
83210,Black Solid Bee Waterfall Cardigan,"(Light Orange Solid Bee Waterfall Cardigan,)",2,6.960131e-07,5.555556,2533.958554
83209,White Solid Maja Cardigan TVP,"(Light Orange Solid Bee Waterfall Cardigan,)",2,6.960131e-07,5.555556,431.457808
108995,Black Glittering/Metallic Frida Pile,"(Black Solid Agnes blouse,)",2,6.960131e-07,6.250000,89797.156250

In [53]:
# parameters for apriori or fpgrowth algorithms
supp = 0.001 
conf = 5 
zmin = 3 # minimum length
zmax = 3 # maximum length 
report = "asCl"
algo = 'ap' # 'fp' or 'ap'
# run apriori
if algo == "ap":
    result = arules(array_young, zmin=zmin, zmax=zmax, supp=supp, conf=conf, report=report)
elif algo == "fp":
    result = fpgrowth(array_young, zmin=zmin, zmax=zmax, supp=supp, report=report)

if algo == "ap":
    colnames = ["consequent", "antecedent"] + [report_colnames.get(k, k) for k in list(report)]
elif algo == "fp":
    colnames = ["itemset"] + [report_colnames.get(k, k) for k in list(report)]
df_result = pd.DataFrame(result, columns=colnames)
df_result = df_result.sort_values("support_itemset_absolute", ascending=False)
print(df_result.shape)

(176784, 6)

In [54]:
with pd.option_context('display.max_colwidth', 400):
    display(df_result.head(20))

,consequent,antecedent,support_itemset_absolute,support_itemset_relative,confidence_pct,lift
0,Black Solid Jade HW Skinny Denim TRS,"(Light Blue Solid Jade HW Skinny Denim TRS, Dark Blue Solid Jade HW Skinny Denim TRS)",609,0.000212,24.516908,35.735800
2,Light Blue Solid Jade HW Skinny Denim TRS,"(Dark Blue Solid Jade HW Skinny Denim TRS, Black Solid Jade HW Skinny Denim TRS)",609,0.000212,19.766310,39.383351
1,Dark Blue Solid Jade HW Skinny Denim TRS,"(Light Blue Solid Jade HW Skinny Denim TRS, Black Solid Jade HW Skinny Denim TRS)",609,0.000212,23.270921,42.362496
4365,Grey Melange Tilda tank,"(White Solid Tilda tank, Black Solid Tilda tank)",367,0.000128,11.969993,125.532423
4363,Black Solid Tilda tank,"(Grey Melange Tilda tank, White Solid Tilda tank)",367,0.000128,47.600519,104.261391
4364,White Solid Tilda tank,"(Grey Melange Tilda tank, Black Solid Tilda tank)",367,0.000128,40.374037,134.059579
62399,Off White Front print LS Birdie T-Shirt,"(Greenish Khaki All over pattern LS Reggipetto Tie Tanga, Greenish Khaki All over pattern LS Reggipetto Triangle Top)",346,0.000120,20.768307,490.369088
62397,Greenish Khaki All over pattern LS Reggipetto Triangle Top,"(Off White Front print LS Birdie T-Shirt, Greenish Khaki All over pattern LS Reggipetto Tie Tanga)",346,0.000120,91.777188,1181.023630
62398,Greenish Khaki All over pattern LS Reggipetto Tie Tanga,"(Off White Front print LS Birdie T-Shirt, Greenish Khaki All over pattern LS Reggipetto Triangle Top)",346,0.000120,84.596577,1195.715816
420,Dark Grey Solid Jade HW Skinny Denim TRS,"(Dark Blue Solid Jade HW Skinny Denim TRS, Black Solid Jade HW Skinny Denim TRS)",317,0.000110,10.288867,53.203442
419,Dark Blue Solid Jade HW Skinny Denim TRS,"(Dark Grey Solid Jade HW Skinny Denim TRS, Black Solid Jade HW Skinny Denim TRS)",317,0.000110,29.029304,52.845085
418,Black Solid Jade HW Skinny Denim TRS,"(Dark Grey Solid Jade HW Skinny Denim TRS, Dark Blue Solid Jade HW Skinny Denim TRS)",317,0.000110,26.549414,38.698376
4466,Dark Green Solid Timeless Sports Top,"(Beige All over pattern The Low Line Highwaist, Dark Green Solid The Low Line Highwaist)",310,0.000108,81.364829,743.883454
4467,Dark Green Solid The Low Line Highwaist,"(Beige All over pattern The Low Line Highwaist, Dark Green Solid Timeless Sports Top)",310,0.000108,91.715976,950.060142
4468,Beige All over pattern The Low Line Highwaist,"(Dark Green Solid The Low Line Highwaist, Dark Green Solid Timeless Sports Top)",310,0.000108,14.285714,137.890926
3764,Dark Green Solid Timeless Sports Top,"(Dark Green Solid The Low Line Highwaist, Beige All over pattern Timeless Sports Top)",301,0.000105,94.062500,859.972766
3765,Beige All over pattern Timeless Sports Top,"(Dark Green Solid The Low Line Highwaist, Dark Green Solid Timeless Sports Top)",301,0.000105,13.870968,117.333973
3766,Dark Green Solid The Low Line Highwaist,"(Beige All over pattern Timeless Sports Top, Dark Green Solid Timeless Sports Top)",301,0.000105,76.982097,797.436010
1263,Beige Solid Therese tee,"(Black Solid Therese tee, White Solid Therese tee)",299,0.000104,24.508197,108.931978
1264,White Solid Therese tee,"(Black Solid Therese tee, Beige Solid Therese tee)",299,0.000104,36.507937,223.679924

In [55]:
with pd.option_context('display.max_colwidth', 400):
    display(df_result.tail(20))

,consequent,antecedent,support_itemset_absolute,support_itemset_relative,confidence_pct,lift
104994,Black Solid Twenty HW tapered,"(Black Dot Pluto RW slacks (1), Black All over pattern Pluto RW slacks (1))",2,6.960131e-07,5.714286,56.699073
104995,White Solid Mona,"(Black Dot Pluto RW slacks (1), Black All over pattern Pluto RW slacks (1))",2,6.960131e-07,5.714286,83.223778
105026,Dark Pink Solid Queen Sweater,"(Red Melange SIRPA, Dark Red Melange SIRPA)",2,6.960131e-07,6.250000,278.873156
105023,Yellow Melange SIRPA,"(Red Melange SIRPA, Black Solid SIRPA)",2,6.960131e-07,6.666667,189.670561
105022,Off White Solid Tara turtleneck top,"(Red Melange SIRPA, Black Solid SIRPA)",2,6.960131e-07,6.666667,204.011999
105021,Black Solid Techno,"(Red Melange SIRPA, Black Solid SIRPA)",2,6.960131e-07,6.666667,166.725210
105020,Black Solid Jodi skirt,"(Red Melange SIRPA, Dark Red Melange SIRPA)",2,6.960131e-07,6.250000,152.327661
105019,Black Solid JESSY SKIRT,"(Red Melange SIRPA, Dark Red Melange SIRPA)",2,6.960131e-07,6.250000,117.535545
105016,Dark Blue Solid Jade Denim TRS,"(Red Melange SIRPA, Dark Red Melange SIRPA)",2,6.960131e-07,6.250000,53.578256
105015,Light Blue Solid Jade Denim TRS,"(Red Melange SIRPA, Black Solid SIRPA)",2,6.960131e-07,6.666667,43.165225
105014,Black Denim Straight HW ankle Femme,"(Black Dot Pluto RW slacks (1), Black All over pattern Primo slacks)",2,6.960131e-07,5.128205,206.965500
105013,Black Solid Mimosa Push Melbourne Opt.2,"(Black Dot Pluto RW slacks (1), Black All over pattern Pluto RW slacks (1))",2,6.960131e-07,5.714286,226.171507
105008,Dark Blue Solid Primo slacks,"(Black Dot Pluto RW slacks (1), Black All over pattern Primo slacks)",2,6.960131e-07,5.128205,97.718459
105007,Black Check Primo slacks,"(Black Dot Pluto RW slacks (1), Black All over pattern Primo slacks)",2,6.960131e-07,5.128205,104.067398
105005,Black Solid Twenty HW tapered,"(Black Dot Pluto RW slacks (1), Black All over pattern Primo slacks)",2,6.960131e-07,5.128205,50.883783
105002,Blue Solid Perrie Slim Mom Denim TRS,"(Black Dot Pluto RW slacks (1), Black All over pattern Primo slacks)",2,6.960131e-07,5.128205,16.904834
104998,Black All over pattern Enter(1),"(Black Dot Pluto RW slacks (1), Black All over pattern Pluto RW slacks (1))",2,6.960131e-07,5.714286,142.288141
104997,Black Solid ZOLA MID SKIRT,"(Black Dot Pluto RW slacks (1), Black All over pattern Pluto RW slacks (1))",2,6.960131e-07,5.714286,145.438897
104996,Dark Green All over pattern Timeless Triangle Top,"(Black Dot Pluto RW slacks (1), Black All over pattern Pluto RW slacks (1))",2,6.960131e-07,5.714286,82.637400
176783,Dark Yellow Solid KIDS-Mikonos Bucket Hat,"(Light Red Solid Venice wide side thong, Light Red Solid Lash wirebra)",2,6.960131e-07,6.666667,95783.633333

In [79]:
# parameters for apriori or fpgrowth algorithms
supp = 0.001 
conf = 5 
zmin = 2 # minimum length
zmax = 2 # maximum length 
report = "asCl"
algo = "ap" # 'fp' or 'ap'
# run apriori
if algo == "ap":
    result = arules(array_type_young, zmin=zmin, zmax=zmax, supp=supp, conf=conf, report=report)
elif algo == "fp":
    result = fpgrowth(array_type_young, zmin=zmin, zmax=zmax, supp=supp, report=report)

if algo == "ap":
    colnames = ["consequent", "antecedent"] + [report_colnames.get(k, k) for k in list(report)]
elif algo == "fp":
    colnames = ["itemset"] + [report_colnames.get(k, k) for k in list(report)]
df_result = pd.DataFrame(result, columns=colnames)
df_result = df_result.sort_values("support_itemset_absolute", ascending=False)
print(df_result.shape)

(1644, 6)

In [80]:
with pd.option_context('display.max_colwidth', 400):
    display(df_result.head(20))

,consequent,antecedent,support_itemset_absolute,support_itemset_relative,confidence_pct,lift
85,Swimwear bottom,"(Bikini top,)",186234,0.064811,77.632111,9.645595
84,Bikini top,"(Swimwear bottom,)",186234,0.064811,80.525613,9.645595
2,Trousers,"(Sweater,)",135896,0.047293,26.652180,1.191212
3,Sweater,"(Trousers,)",135896,0.047293,21.137344,1.191212
6,Trousers,"(T-shirt,)",100136,0.034848,25.914711,1.158251
7,T-shirt,"(Trousers,)",100136,0.034848,15.575212,1.158251
0,Trousers,"(Dress,)",98516,0.034284,20.086531,0.897762
1,Dress,"(Trousers,)",98516,0.034284,15.323237,0.897762
140,Bra,"(Underwear bottom,)",96948,0.033739,44.994152,4.342168
141,Underwear bottom,"(Bra,)",96948,0.033739,32.559436,4.342168
13,Top,"(Trousers,)",92653,0.032244,14.411302,1.254176
12,Trousers,"(Top,)",92653,0.032244,28.060936,1.254176
30,Trousers,"(Blouse,)",81963,0.028524,29.775818,1.330822
31,Blouse,"(Trousers,)",81963,0.028524,12.748573,1.330822
16,Sweater,"(Top,)",79249,0.027579,24.001393,1.352618
17,Top,"(Sweater,)",79249,0.027579,15.542463,1.352618
18,T-shirt,"(Top,)",74240,0.025836,22.484365,1.672050
19,Top,"(T-shirt,)",74240,0.025836,19.212952,1.672050
10,Sweater,"(T-shirt,)",72376,0.025187,18.730558,1.055576
11,T-shirt,"(Sweater,)",72376,0.025187,14.194518,1.055576

In [68]:
with pd.option_context('display.max_colwidth', 400):
    display(df_result.tail(20))

,consequent,antecedent,support_itemset_absolute,support_itemset_relative,confidence_pct,lift
1576,Bag,"(Sewing kit,)",4,0.000001,7.547170,3.196530
1577,Belt,"(Sewing kit,)",3,0.000001,5.660377,2.486341
1639,Top,"(Dog wear,)",3,0.000001,6.666667,0.580182
1640,Blouse,"(Dog wear,)",3,0.000001,6.666667,0.695933
1641,Leggings/Tights,"(Dog wear,)",3,0.000001,6.666667,1.340888
1574,Blazer,"(Sewing kit,)",3,0.000001,5.660377,1.472985
1635,Bracelet,"(Keychain,)",3,0.000001,6.521739,62.260053
1575,Socks,"(Sewing kit,)",3,0.000001,5.660377,1.754865
1609,Slippers,"(Sleeping sack,)",3,0.000001,6.818182,40.672840
1578,Earring,"(Sewing kit,)",3,0.000001,5.660377,2.916259
1580,Other accessories,"(Sewing kit,)",3,0.000001,5.660377,6.133624
1614,Sweater,"(Marker pen,)",3,0.000001,5.660377,0.318995
1626,Dress,"(Keychain,)",3,0.000001,6.521739,0.382097
1624,Bodysuit,"(Marker pen,)",3,0.000001,5.660377,4.544479
1601,Hoodie,"(Sleeping sack,)",3,0.000001,6.818182,1.591858
1619,Bikini top,"(Marker pen,)",3,0.000001,5.660377,0.678017
1604,Swimsuit,"(Sleeping sack,)",3,0.000001,6.818182,3.170552
1606,Pyjama set,"(Sleeping sack,)",3,0.000001,6.818182,5.058769
1608,Dungarees,"(Sleeping sack,)",3,0.000001,6.818182,24.113362
1643,Blazer,"(Dog wear,)",3,0.000001,6.666667,1.734849

## Analysis on age segment 46-54

In [60]:
article_name_old = article_name_age[ (article_name_age['age'] > 46) &
                     (article_name_age["age"] < 54) ]
prod_type_old = prod_type_age[ (prod_type_age['age'] > 46) &
                     (prod_type_age["age"] < 54) ]

In [62]:
array_old = article_name_old["article_name"].to_numpy()
array_type_old = prod_type_old["product_type_name"].to_numpy()

In [69]:
# parameters for apriori or fpgrowth algorithms
supp = 0.001 
conf = 5 
zmin = 2 # minimum length
zmax = 2 # maximum length 
report = "asCl"
algo = 'ap' # 'fp' or 'ap'
# run apriori
if algo == "ap":
    result = arules(array_old, zmin=zmin, zmax=zmax, supp=supp, conf=conf, report=report)
elif algo == "fp":
    result = fpgrowth(array_old, zmin=zmin, zmax=zmax, supp=supp, report=report)

if algo == "ap":
    colnames = ["consequent", "antecedent"] + [report_colnames.get(k, k) for k in list(report)]
elif algo == "fp":
    colnames = ["itemset"] + [report_colnames.get(k, k) for k in list(report)]
df_result = pd.DataFrame(result, columns=colnames)
df_result = df_result.sort_values("support_itemset_absolute", ascending=False)
print(df_result.shape)

(678542, 6)

In [70]:
with pd.option_context('display.max_colwidth', 400):
    display(df_result.head(20))

,consequent,antecedent,support_itemset_absolute,support_itemset_relative,confidence_pct,lift
2,Black Solid Jade HW Skinny Denim TRS,"(Dark Blue Solid Jade HW Skinny Denim TRS,)",993,0.000745,19.129262,45.189135
3,Dark Blue Solid Jade HW Skinny Denim TRS,"(Black Solid Jade HW Skinny Denim TRS,)",993,0.000745,17.600142,45.189135
75,Dark Green Other structure Simple as that Cheeky Tanga,"(Dark Green Other structure Simple as That Triangle Top,)",929,0.000697,72.352025,665.964413
76,Dark Green Other structure Simple as That Triangle Top,"(Dark Green Other structure Simple as that Cheeky Tanga,)",929,0.000697,64.157459,665.964413
4,Black Solid Jade HW Skinny Denim TRS,"(Light Blue Solid Jade HW Skinny Denim TRS,)",869,0.000652,18.187526,42.964468
5,Light Blue Solid Jade HW Skinny Denim TRS,"(Black Solid Jade HW Skinny Denim TRS,)",869,0.000652,15.402340,42.964468
6,Dark Blue Solid Jade HW Skinny Denim TRS,"(Light Blue Solid Jade HW Skinny Denim TRS,)",854,0.000641,17.873587,45.891219
7,Light Blue Solid Jade HW Skinny Denim TRS,"(Dark Blue Solid Jade HW Skinny Denim TRS,)",854,0.000641,16.451551,45.891219
0,Black Solid Luna skinny RW,"(Blue Denim Luna skinny RW,)",826,0.000620,15.688509,37.412476
1,Blue Denim Luna skinny RW,"(Black Solid Luna skinny RW,)",826,0.000620,14.779030,37.412476
117,Red Other structure Simple as that Cheeky Tanga,"(Red Other structure Simple as That Triangle Top,)",749,0.000562,43.170029,491.773782
116,Red Other structure Simple as That Triangle Top,"(Red Other structure Simple as that Cheeky Tanga,)",749,0.000562,64.017094,491.773782
108,Black Solid Love Affair Triangle Top,"(Black Solid Love Affair High Rise Brief,)",712,0.000534,57.142857,661.691448
107,Black Solid Love Affair High Rise Brief,"(Black Solid Love Affair Triangle Top,)",712,0.000534,61.859253,661.691448
60,Black Solid Lazer Razer Brief,"(Black Solid Lazer Razer Adj. push triangle,)",696,0.000522,52.807284,270.388711
61,Black Solid Lazer Razer Adj. push triangle,"(Black Solid Lazer Razer Brief,)",696,0.000522,26.738379,270.388711
9,Black Solid 7p Basic Shaftless,"(White Solid 7p Basic Shaftless,)",695,0.000521,17.340319,55.797648
8,White Solid 7p Basic Shaftless,"(Black Solid 7p Basic Shaftless,)",695,0.000521,16.779334,55.797648
145,Black All over pattern S Timeless High Wide Side Brie,"(Black All over pattern Shake it in Balconette,)",693,0.000520,42.857143,526.456353
144,Black All over pattern Shake it in Balconette,"(Black All over pattern S Timeless High Wide Side Brie,)",693,0.000520,63.870968,526.456353

In [71]:
with pd.option_context('display.max_colwidth', 400):
    display(df_result.tail(20))

,consequent,antecedent,support_itemset_absolute,support_itemset_relative,confidence_pct,lift
322326,Gold Solid Flirty Lava hoop pk,"(Dark Blue All over pattern Dahlia wrap top,)",1,7.502934e-07,5.263158,3188.545455
322325,Gold Solid Flirty Lava hoop pk,"(Green Solid Dixie crossbag,)",1,7.502934e-07,6.666667,4038.824242
322322,Black Solid SPEED OL Cyckel Sheer shorts,"(Orange Solid Karin headband,)",1,7.502934e-07,6.250000,4384.250000
322321,Orange Solid Karin headband,"(Black Solid SPEED OL Cyckel Sheer shorts,)",1,7.502934e-07,5.263158,4384.250000
322319,Other Yellow Solid Kravitz body,"(Black Solid SPEED OL Cyckel Sheer shorts,)",1,7.502934e-07,5.263158,2262.838710
322305,Black Denim Skinny H.W Ankle Festive,"(Black Solid SPEED OL Cyckel Sheer shorts,)",1,7.502934e-07,5.263158,1252.642857
322318,Black Stripe CLARA TEE,"(Black Solid SPEED OL Cyckel Sheer shorts,)",1,7.502934e-07,5.263158,2418.896552
322317,Light Orange All over pattern Flirty crossbag,"(Black Solid SPEED OL Cyckel Sheer shorts,)",1,7.502934e-07,5.263158,2004.228571
322316,Black Solid KIMCHI LS,"(Black Solid SPEED OL Cyckel Sheer shorts,)",1,7.502934e-07,5.263158,3049.913043
322315,Red Solid KIMCHI LS,"(Black Solid SPEED OL Cyckel Sheer shorts,)",1,7.502934e-07,5.263158,2418.896552
322314,Other Yellow Solid Cycling Shorts,"(Black Solid SPEED OL Cyckel Sheer shorts,)",1,7.502934e-07,5.263158,2338.266667
322313,Black Stripe AK Dre polo dress,"(Black Solid SPEED OL Cyckel Sheer shorts,)",1,7.502934e-07,5.263158,1895.891892
322312,Beige All over pattern ED Jennifer tee,"(Black Solid SPEED OL Cyckel Sheer shorts,)",1,7.502934e-07,5.263158,1461.416667
322311,Grey Solid Cool Vesper watch,"(Black Solid SPEED OL Cyckel Sheer shorts,)",1,7.502934e-07,5.263158,1230.666667
322310,Other Yellow Solid Tuti Body neon,"(Black Solid SPEED OL Cyckel Sheer shorts,)",1,7.502934e-07,5.263158,2063.176471
322309,Light Orange All over pattern Adelia cropped top,"(Black Solid SPEED OL Cyckel Sheer shorts,)",1,7.502934e-07,5.263158,1670.190476
322308,Dark Blue Stripe Lotta tank,"(Black Solid SPEED OL Cyckel Sheer shorts,)",1,7.502934e-07,5.263158,2505.285714
322307,Black Solid DOLORES BAG,"(Black Solid SPEED OL Cyckel Sheer shorts,)",1,7.502934e-07,5.263158,1710.926829
322306,Black All over pattern CSP Tory biker,"(Black Solid SPEED OL Cyckel Sheer shorts,)",1,7.502934e-07,5.263158,1275.418182
678541,Dark Orange Solid PQ SUNDAY CTN/SILK KAFTAN,"(Dark Blue All over pattern Sunny kaftan(1),)",1,7.502934e-07,6.250000,83300.750000

In [72]:
# parameters for apriori or fpgrowth algorithms
supp = 0.001 
conf = 5 
zmin = 3 # minimum length
zmax = 3 # maximum length 
report = 'asCl'
algo = 'ap' # 'fp' or 'ap'
#  run apriori
if algo == 'ap':
    result = arules(array_old, zmin=zmin, zmax=zmax, supp=supp, conf=conf, report=report)
elif algo == 'fp':
    result = fpgrowth(array_old, zmin=zmin, zmax=zmax, supp=supp, report=report)

if algo == 'ap':
    colnames = ['consequent', 'antecedent'] + [report_colnames.get(k, k) for k in list(report)]
elif algo == 'fp':
    colnames = ['itemset'] + [report_colnames.get(k, k) for k in list(report)]
df_result = pd.DataFrame(result, columns=colnames)
df_result = df_result.sort_values('support_itemset_absolute', ascending=False)
print(df_result.shape)

(630048, 6)

In [73]:
with pd.option_context('display.max_colwidth', 400):
    display(df_result.head(20))

,consequent,antecedent,support_itemset_absolute,support_itemset_relative,confidence_pct,lift
18,Light Blue Solid Jade HW Skinny Denim TRS,"(Dark Blue Solid Jade HW Skinny Denim TRS, Black Solid Jade HW Skinny Denim TRS)",200,0.000150,20.140987,56.182815
17,Dark Blue Solid Jade HW Skinny Denim TRS,"(Light Blue Solid Jade HW Skinny Denim TRS, Black Solid Jade HW Skinny Denim TRS)",200,0.000150,23.014960,59.091918
16,Black Solid Jade HW Skinny Denim TRS,"(Light Blue Solid Jade HW Skinny Denim TRS, Dark Blue Solid Jade HW Skinny Denim TRS)",200,0.000150,23.419204,55.323282
530,Dark Grey Solid Jade HW Skinny Denim TRS,"(Dark Blue Solid Jade HW Skinny Denim TRS, Black Solid Jade HW Skinny Denim TRS)",119,0.000089,11.983887,76.642364
529,Dark Blue Solid Jade HW Skinny Denim TRS,"(Dark Grey Solid Jade HW Skinny Denim TRS, Black Solid Jade HW Skinny Denim TRS)",119,0.000089,30.357143,77.943295
528,Black Solid Jade HW Skinny Denim TRS,"(Dark Grey Solid Jade HW Skinny Denim TRS, Dark Blue Solid Jade HW Skinny Denim TRS)",119,0.000089,25.265393,59.684542
542,Dark Grey Solid Jade HW Skinny Denim TRS,"(Light Blue Solid Jade HW Skinny Denim TRS, Dark Blue Solid Jade HW Skinny Denim TRS)",115,0.000086,13.466042,86.121414
540,Dark Blue Solid Jade HW Skinny Denim TRS,"(Dark Grey Solid Jade HW Skinny Denim TRS, Light Blue Solid Jade HW Skinny Denim TRS)",115,0.000086,31.944444,82.018761
541,Light Blue Solid Jade HW Skinny Denim TRS,"(Dark Grey Solid Jade HW Skinny Denim TRS, Dark Blue Solid Jade HW Skinny Denim TRS)",115,0.000086,24.416136,68.108244
65247,Light Beige All over pattern LS Olivia Triangle Top,"(Greenish Khaki All over pattern LS Reggipetto Triangle Top, Light Beige All over pattern LS Olivia Cheeky Tanga)",107,0.000080,91.452991,1878.114706
65248,Greenish Khaki All over pattern LS Reggipetto Triangle Top,"(Light Beige All over pattern LS Olivia Triangle Top, Light Beige All over pattern LS Olivia Cheeky Tanga)",107,0.000080,19.314079,482.060615
65246,Light Beige All over pattern LS Olivia Cheeky Tanga,"(Greenish Khaki All over pattern LS Reggipetto Triangle Top, Light Beige All over pattern LS Olivia Triangle Top)",107,0.000080,92.241379,1879.822894
1618,Dark Green Other structure Simple as That Triangle Top,"(Dark Green Other structure Simple as that Cheeky Tanga, Black Other structure Simple as that Cheeky Tanga)",98,0.000074,70.000000,726.610903
1617,Dark Green Other structure Simple as that Cheeky Tanga,"(Dark Green Other structure Simple as That Triangle Top, Black Other structure Simple as that Cheeky Tanga)",98,0.000074,84.482759,777.621785
1616,Black Other structure Simple as that Cheeky Tanga,"(Dark Green Other structure Simple as That Triangle Top, Dark Green Other structure Simple as that Cheeky Tanga)",98,0.000074,10.548977,76.329010
535,Black Solid Jade HW Skinny Denim TRS,"(Dark Grey Solid Jade HW Skinny Denim TRS, Light Blue Solid Jade HW Skinny Denim TRS)",95,0.000071,26.388889,62.338582
536,Light Blue Solid Jade HW Skinny Denim TRS,"(Dark Grey Solid Jade HW Skinny Denim TRS, Black Solid Jade HW Skinny Denim TRS)",95,0.000071,24.234694,67.602116
537,Dark Grey Solid Jade HW Skinny Denim TRS,"(Light Blue Solid Jade HW Skinny Denim TRS, Black Solid Jade HW Skinny Denim TRS)",95,0.000071,10.932106,69.915748
2988,Black Other structure Simple as that Cheeky Tanga,"(Red Other structure Simple as that Cheeky Tanga, Red Other structure Simple as That Triangle Top)",85,0.000064,11.348465,82.113843
2989,Red Other structure Simple as That Triangle Top,"(Red Other structure Simple as that Cheeky Tanga, Black Other structure Simple as that Cheeky Tanga)",85,0.000064,65.384615,502.278963

In [74]:
with pd.option_context('display.max_colwidth', 400):
    display(df_result.tail(20))

,consequent,antecedent,support_itemset_absolute,support_itemset_relative,confidence_pct,lift
251237,White Placement print BOULEVARD TEE TVP,"(Black All over pattern Stella Pull on TRS, Blue All over pattern Julie (1))",1,7.502934e-07,6.666667,84.062567
251236,Black Solid CHARLIE SKIRT,"(Black All over pattern Stella Pull on TRS, Blue All over pattern Julie (1))",1,7.502934e-07,6.666667,48.474704
251235,Black Contrast Heavy jsy long leg,"(Black All over pattern Stella Pull on TRS, Blue All over pattern Julie (1))",1,7.502934e-07,6.666667,34.640988
251234,Black Solid Tilly (1),"(Black All over pattern Stella Pull on TRS, Blue All over pattern Julie (1))",1,7.502934e-07,6.666667,29.189926
251233,Black Solid Luna skinny RW,"(Black All over pattern Stella Pull on TRS, Blue All over pattern Julie (1))",1,7.502934e-07,6.666667,15.898038
251232,Off White All over pattern Tiblisi paperwaist tapered,"(Black All over pattern Stella Pull on TRS, Black All over pattern Victoria Pull- On TRS)",1,7.502934e-07,5.555556,185.576720
251230,Grey Solid Ida Panel Jogger,"(Black All over pattern Stella Pull on TRS, Black Solid Daiquiri Pull- On TRS)",1,7.502934e-07,6.666667,190.674106
251229,Blue Denim Skinny H.W Ankle Queens,"(Black All over pattern Stella Pull on TRS, Black Solid Daiquiri Pull- On TRS)",1,7.502934e-07,6.666667,158.668095
251228,Dark Blue Denim Skinny H.W Ankle Queens,"(Black All over pattern Stella Pull on TRS, Black Solid Daiquiri Pull- On TRS)",1,7.502934e-07,6.666667,154.798142
251227,Dark Red Solid Siri Cardigan,"(Black All over pattern Stella Pull on TRS, Black Solid Daiquiri Pull- On TRS)",1,7.502934e-07,6.666667,197.893393
251225,Black All over pattern Stella Pull on TRS,"(Black Solid Julie (1), Black Solid Victoria RW Pull- On TRS)",1,7.502934e-07,5.000000,343.508247
251224,Black All over pattern Stella Pull on TRS,"(Black Solid Becky softpant, Black All over pattern Waleo HW wide full)",1,7.502934e-07,6.666667,458.010997
251223,Red Check Enter,"(Black All over pattern Stella Pull on TRS, Black Solid Daiquiri Pull- On TRS)",1,7.502934e-07,6.666667,126.753400
251222,Black Melange Benny Shorts,"(Black All over pattern Stella Pull on TRS, Black All over pattern Victoria Pull- On TRS)",1,7.502934e-07,5.555556,170.218646
251221,Off White Solid Griezman,"(Black All over pattern Stella Pull on TRS, Black All over pattern Victoria Pull- On TRS)",1,7.502934e-07,5.555556,164.179847
251220,Black All over pattern Stella Pull on TRS,"(Black Solid Latte slacks (1), Black Solid Luna skinny RW)",1,7.502934e-07,5.000000,343.508247
251219,Blue Denim Boyfriend L.W,"(Black All over pattern Stella Pull on TRS, Black All over pattern Victoria Pull- On TRS)",1,7.502934e-07,5.555556,110.350389
251218,Blue Denim Boyfriend L.W,"(Black All over pattern Stella Pull on TRS, Black Solid Daiquiri Pull- On TRS)",1,7.502934e-07,6.666667,132.420467
251217,Black Dot Evelyn midi dress,"(Black All over pattern Stella Pull on TRS, Black All over pattern Victoria Pull- On TRS)",1,7.502934e-07,5.555556,168.667679
630047,Blue Solid A-band 2pk fabric ears,"(Grey All over pattern Pria tee, White Front print Pria tee)",1,7.502934e-07,5.000000,66640.600000

In [75]:
# parameters for apriori or fpgrowth algorithms
supp = 0.001 
conf = 5 
zmin = 2 # minimum length
zmax = 2 # maximum length 
report = 'asCl'
algo = 'ap' # 'fp' or 'ap'

# run apriori
if algo == 'ap':
    result = arules(array_type_old, zmin=zmin, zmax=zmax, supp=supp, conf=conf, report=report)
elif algo == 'fp':
    result = fpgrowth(array_type_old, zmin=zmin, zmax=zmax, supp=supp, report=report)

if algo == 'ap':
    colnames = ['consequent', 'antecedent'] + [report_colnames.get(k, k) for k in list(report)]
elif algo == 'fp':
    colnames = ['itemset'] + [report_colnames.get(k, k) for k in list(report)]
df_result = pd.DataFrame(result, columns=colnames)
df_result = df_result.sort_values('support_itemset_absolute', ascending=False)
print(df_result.shape)

(1711, 6)

In [77]:
with pd.option_context('display.max_colwidth', 400):
    display(df_result.head(20))

,consequent,antecedent,support_itemset_absolute,support_itemset_relative,confidence_pct,lift
0,Trousers,"(Sweater,)",77316,0.058010,30.332966,1.113474
1,Sweater,"(Trousers,)",77316,0.058010,21.294422,1.113474
153,Swimwear bottom,"(Bikini top,)",58501,0.043893,78.587069,13.959802
154,Bikini top,"(Swimwear bottom,)",58501,0.043893,77.969106,13.959802
3,Dress,"(Trousers,)",54380,0.040801,14.977374,0.775613
2,Trousers,"(Dress,)",54380,0.040801,21.129032,0.775613
6,Trousers,"(T-shirt,)",53242,0.039947,29.815592,1.094482
7,T-shirt,"(Trousers,)",53242,0.039947,14.663946,1.094482
20,Trousers,"(Blouse,)",49167,0.036890,31.165102,1.144021
21,Blouse,"(Trousers,)",49167,0.036890,13.541606,1.144021
12,Trousers,"(Top,)",48090,0.036082,30.666905,1.125733
13,Top,"(Trousers,)",48090,0.036082,13.244978,1.125733
14,Sweater,"(Top,)",37105,0.027840,23.661790,1.237263
15,Top,"(Sweater,)",37105,0.027840,14.557203,1.237263
25,Blouse,"(Dress,)",37013,0.027771,14.381185,1.214950
24,Dress,"(Blouse,)",37013,0.027771,23.461141,1.214950
8,Sweater,"(T-shirt,)",36068,0.027062,20.198128,1.056150
9,T-shirt,"(Sweater,)",36068,0.027062,14.150362,1.056150
18,T-shirt,"(Top,)",34764,0.026083,22.168939,1.654638
19,Top,"(T-shirt,)",34764,0.026083,19.467887,1.654638

In [78]:
with pd.option_context('display.max_colwidth', 400):
    display(df_result.tail(20))

,consequent,antecedent,support_itemset_absolute,support_itemset_relative,confidence_pct,lift
1666,Hat/beanie,"(Headband,)",1,7.502934e-07,6.666667,11.194927
1688,Hair/alice band,"(Sleeping sack,)",1,7.502934e-07,7.142857,12.795814
1689,Dungarees,"(Sleeping sack,)",1,7.502934e-07,7.142857,24.778984
1686,Underwear Tights,"(Sleeping sack,)",1,7.502934e-07,7.142857,7.402866
1664,Other accessories,"(Headband,)",1,7.502934e-07,6.666667,8.797439
1663,Coat,"(Headband,)",1,7.502934e-07,6.666667,6.170854
1660,Bag,"(Headband,)",1,7.502934e-07,6.666667,3.828929
1672,Dress,"(Sleeping sack,)",1,7.502934e-07,7.142857,0.369897
1659,Cardigan,"(Headband,)",1,7.502934e-07,6.666667,2.006915
1674,Skirt,"(Sleeping sack,)",1,7.502934e-07,7.142857,1.145756
1675,Underwear bottom,"(Sleeping sack,)",1,7.502934e-07,7.142857,1.138848
1676,Swimwear bottom,"(Sleeping sack,)",1,7.502934e-07,7.142857,1.268820
1677,Bikini top,"(Sleeping sack,)",1,7.502934e-07,7.142857,1.278877
1656,Jacket,"(Headband,)",1,7.502934e-07,6.666667,1.236816
1680,Hoodie,"(Sleeping sack,)",1,7.502934e-07,7.142857,1.507153
1654,Shirt,"(Headband,)",1,7.502934e-07,6.666667,1.021453
1683,Jumpsuit/Playsuit,"(Sleeping sack,)",1,7.502934e-07,7.142857,4.385115
1652,Blouse,"(Headband,)",1,7.502934e-07,6.666667,0.563213
1685,Boots,"(Sleeping sack,)",1,7.502934e-07,7.142857,5.728435
1710,Dog Wear,"(Dog wear,)",1,7.502934e-07,5.555556,207.409275